# der ganz normale Redirect von https://wiki.uberspace.de/webserver:security#https_erzwingen
RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

# Verzeichnisschutz
AuthType Basic
AuthName "Admin"
AuthUserFile /var/www/virtual/fsrfb4/app.fsrfb4.de/data/admin/.htpasswd
AuthGroupFile /var/www/virtual/fsrfb4/app.fsrfb4.de/data/admin/.htgroup

# Die Magie!
Order Deny,Allow
Deny from all
Satisfy Any
Allow from env=!HTTPS
Require valid-user
